server:
  servlet:
    context-path: /api
  tomcat:
    uri-encoding: UTF-8
  port: 8080

spring:
  profiles:
    active: local

---

spring:
  config:
    activate:
      on-profile: test

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

---

spring:
  config:
    activate:
      on-profile: local

  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:h2:mem:plant_db

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      data-locations: classpath:sql/data.sql
      schema-locations: classpath:sql/scheme.sql

---
spring:
  config:
    activate:
      on-profile: dev