server:
  servlet:
    context-path: /api
  tomcat:
    uri-encoding: UTF-8
  port: 8080

spring:
  profiles:
    active: local

---

spring:
  config:
    activate:
      on-profile: test

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

---

spring:
  config:
    activate:
      on-profile: local

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true

---
spring:
  config:
    activate:
      on-profile: dev